.Container p {
  /*outline: 1px solid #000f;*/
  max-width: 500px;
}
.Container button {
  height: 2rem;
  width: 4rem;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 1rem;
 }
.App input {
  max-width: 16rem;
}

