body {
  display: flex;
  justify-content: center;
  background-color: #3037;
}

body, .App, .App input {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffff;
}

p, h2 { margin: none; padding: none; line-height: 1.5rem; font-size: 1.5rem; font-weight: 400; }

.Container p {
  max-width: 500px;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: calc(50vh - 200px);
  padding: 1rem;
  width: 500px;
  border: 1px solid #0009;
  border-radius: 5px;
  background-color: #000f;
 }
.App input, .App input:focus, .App input:active {
  background: none;
  border: none;
  outline: none;
}

